{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin History</title>
    <link rel="stylesheet" href="{% static 'css/AdminHistory.css' %}">
    <link rel="stylesheet" href="../static/css/AdminHistory.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background">
        <div class="header">
                
                
                <div>

                </div>
                <div class="heading">
                    <h2>History</h2>  
                </div>
                <div class="dropdown_btn">
                    <div class="dropdown">
                        <button class="dropbtn">Menu</button>
                        
                        <div class="dropdown-content">
                        <a href="/admindashboard">Dashboard</a>
                        <a href="/userManagement">UserManagement</a>
                        <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="row_for_alert" id="row">
               
        </div>
        <div class="content">
           <div class="input_fields">
            <form class="input_fields_form" id="My_form" action="#">
                    <div class="input_bar">
                        <label for="fromdate">From Date:</label>
                        <input type="date" name="fromdate">
                    </div>
                    <div class="input_bar">
                        <label for="fromdate">To Date:</label>
                        <input type="date" name="todate">
                    </div>
                    
                    <div class="input_bar">
                        <button id="myBtn" onclick="form_input()">GO</button>
                    </div>
            </form>
            <div class="search_bar">
                <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search..">
            </div>
           </div>
           <div class="user_details">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>EmployeeID</th>
                        <th>Date</th>
                        <th>CheckIn Time</th>
                        <th>CheckOut Time</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for data in checkinout_data %}
                    <tr>
                        <td>.</td>
                        <td>{{ data.user.username }}</td>
                        <td>{{data.user.userdetails.employee_id }}</td>
                        <td>{{ data.date }}</td>
                        <td>{{ data.check_in_time }}</td>
                        <td>{{ data.check_out_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           </div>
            
        </div>
        <div class="footer">
            <div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/AdminHistory.js' %}"></script>
</html>