{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin History</title>
    <link rel="stylesheet" href="{% static 'css/AdminHistory.css' %}">
</head>
<body>
    <div class="background">
        <div class="header">
                
                
                <div>

                </div>
                <div class="heading">
                    <h2>History</h2>  
                </div>
                <div class="dropdown_btn">
                    <div class="dropdown">
                        <button class="dropbtn">Menu</button>
                        
                        <div class="dropdown-content">
                        <a href="#">Dashboard</a>
                        <a href="#">UserManagement</a>
                        <a href="#">Logout</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="content">
           <div class="input_fields">
            
                    <div class="input_bar">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input_bar">
                        <input type="text" placeholder="EmployeeID">
                    </div>
                    <div class="input_bar">
                        <label for="fromdate">From Date:</label>
                        <input type="date" name="fromdate">
                    </div>
                    <div class="input_bar">
                        <label for="fromdate">To Date:</label>
                        <input type="date" name="fromdate">
                    </div>
                    
                    <div class="input_bar">
                        <button>GO</button>
                    </div>
            
           </div>
           <div class="user_details">
            <table border="1">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>EmployeeID</th>
                        <th>CheckIn Time</th>
                        <th>CheckOut Time</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>fhfg</td>
                        <td>fgh</td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                    
                </tbody>
            </table>
           </div>
            
        </div>
        <div class="footer">
            <div>
            </div>
        </div>
    </div>
</body>
</html>