{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <title>Login</title>
</head>
<body>
<div class="background">
    <div class="header">
        <div class="header-box">
            <div class="heading">
                <h2 class="roboto-bold">Login</h2>
            </div>
            
        </div>
        <div id="popupMsg" class="alert alert-danger" style="text-align: center;margin-bottom: 0px;">
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="Login">
            <div class="email">
                <form class="email_form" action="{% url 'regular_login' %}" method="post">
                    {% csrf_token %}
                    <input class="roboto-medium" name="email_or_username" type="text" placeholder="Email or username ">
                  
                    <input class="roboto-medium" name="password" type="password" placeholder="Password">
                    
                    <button class="roboto-medium" type="submit">LOGIN</button>
                </form>
            </div>
    </div>
    <div class="footer">
        <div>
        </div>
    </div>
</div>
</body>
</html>

    
<script>
   var popup = document.getElementById("popupMsg");

function displayPopup() {
    setTimeout(function() {
        popup.style.display = "none";
    }, 3000);
}
var messages = document.querySelectorAll('.message');
if (messages.length > 0) {
    displayPopup();
}
else {
    popup.style.display = "none";  
}

</script>
</body>


</html>