{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/userChangePassword.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ChangePassword</title>
</head>
<body>
<div class="background">
    <header class="heading">
        <div class="company_logo" >
            <h1 class="roboto-black">Febino Solutions</h1>
        </div>
        <div class="page_title">
            <h2 class="roboto-black">ChangePassword</h2>  
        </div>
        <div class="dropdown_btn"">
            <div class="dropdown">
                <button class="dropbtn roboto-medium">{{username}} <span class="dropdown-symbol">&#9660;</span></button>
                
                <div class="dropdown-content">
                <a style="text-decoration: none" href="/userHistory">History</a>
                <a style="text-decoration: none" href="/userdashboard">Dashboard</a>
                <a style="text-decoration: none" href="/logout">Logout</a>
                </div>
            </div>
        </div>

    </header>
   
        {% if messages %}
            {% for message in messages %}
                {% if "error" in message.tags %}
                    <div class="alert alert-danger" style="text-align: center; margin-bottom: 0px; width: 100%;">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success" style="text-align: center; margin-bottom: 0px; width: 100%">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
   
    
        

    <div class="Login">
        
         <div class="bar">
            <div class="email">
                <form action="{% url 'change_password' %}" method="post" class="email_form">
                {% csrf_token %}
                <input class="roboto-medium" type="password" id="Old_Password" name="Old_Password" placeholder="Old Password">
                <input class="roboto-medium" type="password" id="new_password" name="new_password" placeholder="New Password">
                <input class="roboto-medium" type="password" id="password_confirmation" name="password_confirmation" placeholder="Re-Enter Password">
                <button class="roboto-medium">Change Password</button>
                </form>
            </div>
            
         </div>
         
    </div>
    <div class="footer">
        <div>
        </div>
    </div>
</div>
<script>
   document.addEventListener('DOMContentLoaded', function() {
        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            setTimeout(function() {
                alert.style.display = 'none';
            }, 5000);
        });
    });
 </script>
</body>
</html>