{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
   <!--<link rel="stylesheet" href="../static/css/userHistory.css">--> 
    
    <link rel="stylesheet" href="{% static 'css/userHistory.css' %}">
    
</head>
<body>
    <div class="background">
        <div class="header">
                
                
                <div>

                </div>
                <div class="heading">
                    <h2>History</h2>  
                </div>
                <div class="dropdown_btn">
                    <div class="dropdown">
                        <button class="dropbtn">Menu</button>
                        
                        <div class="dropdown-content">
                        <a href="/userdashboard/">Dashboard</a>
                        <a href="/changePassword/">Change Password</a>
                        <a href="/logout/">Logout</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="content">
           <div class="box">
            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Date</th>
                        <th>CheckIn Time</th>
                        <th>CheckOut Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                    <tr>
                        <td></td>
                        <td>{{entry.date}}</td>
                        <td>{{entry.check_in_time}}</td>
                        <td>{{entry.check_out_time}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           </div>
            
        </div>
        <div class="footer">
            <div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/UserHistory.js' %}"></script>
</html>