{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserDashboard</title>
    <link rel="stylesheet" href="{% static 'css/userdashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background">
        <header class="heading">
            <div class="company_logo" >
                <h1 class="roboto-black">Febino Solutions</h1>
            </div>
            <div class="page_title">
                <h2 class="roboto-black">Dashboard</h2>  
            </div>
            <div class="dropdown_btn"">
                <div class="dropdown">
                    <button class="dropbtn roboto-medium">{{username}} <span class="dropdown-symbol">&#9660;</span></button>
                    
                    <div class="dropdown-content">
                    <a style="text-decoration: none" href="/userHistory">History</a>
                    <a style="text-decoration: none" href="/changePassword">ChangePassword</a>
                    <a style="text-decoration: none" href="/logout">Logout</a>
                    </div>
                </div>
            </div>

        </header>
        <div class="row_for_alert" id="row">
               
        </div>
        
        
        <div class="button">
            
            <div id="btn" class="btn1">
                
            </div>
            
        </div>
        <div class="footer">
            <div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/Userdashboard.js' %}"></script>
</html>