{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/userChangePassword.css' %}">
    <title>ChangePassword</title>
</head>
<body>
<div class="background">
    <div class="header">
        <div>

        </div>
            <div class="heading">
                <h2>ChangePassword</h2>
            </div>
            <div class="dropdown_btn">
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                    <a href="/userHistory/">History</a>
                    <a href="/userdashboard/">Dashboard</a>
                    <a href="/logout/">Logout</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="Login">
         <div class="bar">
            <div class="email">
                <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <input type="text" id="email" name="email" placeholder="Email" style="background-color:#E7E6E6;
                width: 200px;
                height: 30px;
                margin: 10px;
                margin-left: 25px;
                border-radius: 10px;
                padding: 15px;
                border: none;">
                <input type="text" id="new_password" name="new_password" placeholder="New Password" style="background-color:#E7E6E6;
                width: 200px;
                height: 30px;
                margin: 10px;
                margin-left: 25px;
                border-radius: 10px;
                padding: 15px;
                border: none;">
                <input type="text" id="password_confirmation" name="password_confirmation" placeholder="Re-Enter Password" style="background-color:#E7E6E6;
                width: 200px;
                height: 30px;
                margin: 10px;
                margin-left: 25px;
                border-radius: 10px;
                padding: 15px;
                border: none;">
                <button style="background-color:#36B8B0;
                width: 200px;
                height: 30px;
                font-size: small;
                margin: 10px;
                margin-left: 25px;
                border-radius: 10px;
                
                border: none;
                color: white;
                text-align: center;
                font-family: sans-serif;">Change Password</button>
                </form>
            </div>
            
         </div>
         
    </div>
    <div class="footer">
        <div>
        </div>
    </div>
</div>
</body>
</html>